{% extends 'base.html.twig' %}

{% block title %}To-Do List{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <table>
        <thead>
            <tr>
                <th>#TaskID</th>
                <th>Title</th>
                <th>Status</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr>
                <td>{{ todo['id'] }}</td>
                <td>{{ todo['name'] }}</td>
                <td>{% if todo['status']==1 %}<p style="color: orange">{{ "Process" }}</p>{% elseif todo['status']==2  %}<p style="color: green">{{ "Finished" }}</p>{% else  %}<p>{{ "Pending" }}<p>{% endif %}</td>
                <td>{{ todo['due_date']|date('Y-m-d H:i:s') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br>
    Add new task:
    <form method="post" action="/todo/add">
        <input type="hidden" name="_POST" value="{{ csf }}">
        Task name:
        <input type="text" name="task_name">
        <input type="submit">
    </form>

    <br><br>
    Switch status:
    <form method="post" action="/todo/update">
        <input type="hidden" name="_PUT" value="{{ csf }}">
        <select name="task_id">
            {% for todo in todos %}
                <option value="{{ todo['id'] }}">{{ todo['name'] }}</option>
            {% endfor %}
        </select>
        Status:
        <select name="status">
            <option value="0">Pending</option>
            <option value="1">Process</option>
            <option value="2">Finished</option>
        </select>
        <input type="submit">
    </form>

    <br><br>

    Delete task:
    <form method="post" action="/todo/delete">
        <input type="hidden" name="_DELETE" value="{{ csf }}">
        <select name="task_id">
            {% for todo in todos %}
                <option value="{{ todo['id'] }}">{{ todo['name'] }}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>
</div>
{% endblock %}
