{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Discount</th>
            <th>Author</th>
            <th>Published</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.content }}</td>
                <td>{{ random_discount[loop.index0] }}</td>
                <td>{{ post.userid is empty ? "" : post.userid  }}</td>
                <td>{{ post.createdat is empty ? "" : post.createdat|date("m/d/Y") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/moulchannrith/php/w_001_smallproject/src/src/Controller/PostController.php'|file_link(0) }}">src/Controller/PostController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/moulchannrith/php/w_001_smallproject/src/templates/post/index.html.twig'|file_link(0) }}">templates/post/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
